.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin: 0 50px 0 0;
        position: relative;
        a {
            color: #000;
            text-decoration: none;
            font-weight: 500;
            font-size: 21px;
            text-transform: capitalize;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 2.5px;
            background-color: #000;
            transition: all 0.3s ease 0s;
        }
        &:hover {
            &::before {
                width: 100%;
                transition: all 0.4s ease 0s;
            }
        }
    }
    &__theme-toggle {
        display: flex;
        width: 240px;
        justify-content: space-between;
        align-items: center;
        .theme-toggle {
            &__switcher {
                position: relative;
                width: 80px;
                height: 40px;
                margin: 0;
                input {
                    display: none;
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $lightGray;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 34px;
                    &:before {
                        position: absolute;
                        content: "";
                        height: 30px;
                        width: 30px;
                        left: 5px;
                        bottom: 5px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                        border-radius: 50%;  
                    }
                }
                input:checked + .slider {
                    background-color: #4f094f;
                } 
                input:checked + .slider:before {
                    -webkit-transform: translateX(40px);
                    -ms-transform: translateX(40px);
                    transform: translateX(40px);
                }
            }
            &__mode {
                font-weight: 500;
                font-size: 18px;
                max-width: 73px;
                text-align: center;
            }
        }
    }
    &__burger {
        display: none;
    }
}